body.post-type-page .acf-radio-list img,
body.toplevel_page_theme-general-settings .acf-radio-list img {
    height: 80px;
    max-width: 290px;
}

body.post-type-page .acf-input ul.acf-radio-list.acf-bl,
body.toplevel_page_theme-general-settings .acf-input ul.acf-radio-list.acf-bl {
    display: inline-flex;
}

body.post-type-page .acf-input ul.acf-radio-list.acf-bl input,
body.toplevel_page_theme-general-settings .acf-input ul.acf-radio-list.acf-bl input {
    display: block;
    opacity: 0;
    height: 0;
}

body.post-type-page .acf-input ul.acf-radio-list.acf-bl label,
body.toplevel_page_theme-general-settings .acf-input ul.acf-radio-list.acf-bl label {
    border: 2px solid transparent;
    padding: 4px;
    display: inline-block;
    min-height: 100px;
    margin-bottom: 14px;
}

body.post-type-page .acf-input ul.acf-radio-list.acf-bl label.selected,
body.toplevel_page_theme-general-settings .acf-input ul.acf-radio-list.acf-bl label.selected {
    border-color: #0f3a9c;
    border-radius: 10px;
    background: #f0f5ff;
}

body.post-type-page .layout-label,
body.toplevel_page_theme-general-settings .layout-label {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.jpn-tabs-activated > .acf-repeater > .acf-table {
    border: #0f3a9c solid 2px;
    position: relative;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab.active {
    color: #ffffff;
    background: #0f3a9c;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab.active {
    border-bottom: 1px solid #0f3a9c;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li > .jpn-acf-tab > span {
    background: #0f3a9c;
    color: #ffffff;
}

.jpn-tabs-activated > .jpn-acf-tabs > .add > ul > li > .jpn-remove-row {
    background: #dc0b0b;
}

.jpn-tabs-activated > .jpn-acf-tabs > .add > ul > li > .acf-button {
    background: #2196F3;
}

.jpn-tabs-activated.jpn-vertical {
    padding-left: 0;
    position: relative;
    z-index: 0;
}

.jpn-tabs-activated > .jpn-acf-tabs {
    position: static;
}

.jpn-tabs-activated.jpn-vertical > .jpn-acf-tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul, .jpn-tabs-activated > .jpn-acf-tabs > .add > ul {
    width: 100%;
    display: inline-block;
}

.jpn-tabs-activated > .jpn-acf-tabs > .nav > ul > li, .jpn-tabs-activated > .jpn-acf-tabs > .add > ul > li {
    display: inline-block;
}

.jpn-tab-hover {
    display: none !important;
}

.bottom-line tr.acf-row td.acf-fields {
    border-bottom: 10px solid #0f3a9c !important;
}