.mob-menu-header nav {
	display: none;
}

.mob-menu-header,
.content,
.footer {
	text-align: center;
}
.mob-menu-header,
.footer {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mob-menu-header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
}
.mob-menu-header a {
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.mob-menu-header a:before,
.mob-menu-header a:after {
	content: '';
	display: block;
	background: #000;
	height: 2px;
}
.mob-menu-header a span {
	background: #000;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content {
	padding: 150px 50px 50px 50px;
}
.mm-spn.mm-spn--navbar ul {
    background: #fff;
}