/*
 Theme Name:   ITC Tourist Child
 Description:  ITC Tourist Child Theme
 Author:       ITCentar
 Author URI:   https://itcentar.rs
 Template:     itc-tourist
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  itc-tourist-child
*/

body {
    font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
    height: auto;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

/*icons*/
@font-face {
  font-family: 'euroturs';
  src:  url('fonts/euroturs.eot?406i87');
  src:  url('fonts/euroturs.eot?406i87#iefix') format('embedded-opentype'),
    url('fonts/euroturs.ttf?406i87') format('truetype'),
    url('fonts/euroturs.woff?406i87') format('woff'),
    url('fonts/euroturs.svg?406i87#euroturs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'euroturs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e92a";
  color: #13306b;
}
.icon-mapa:before {
  content: "\e92b";
  color: #13306b;
}
.icon-call:before {
  content: "\e926";
}
.icon-home:before {
  content: "\e927";
}
.icon-menu:before {
  content: "\e928";
}
.icon-search1:before {
  content: "\e929";
}
.icon-view-eye-interface-symbol:before {
  content: "\e924";
}
.icon-download-button:before {
  content: "\e925";
}
.icon-pdf-file:before {
  content: "\e923";
}
.icon-arrow-down:before {
  content: "\e91a";
}
.icon-arrow-left:before {
  content: "\e91b";
}
.icon-arrow-right:before {
  content: "\e91c";
}
.icon-close1:before {
  content: "\e91d";
}
.icon-fit-zoom:before {
  content: "\e91e";
}
.icon-pause:before {
  content: "\e91f";
}
.icon-play:before {
  content: "\e920";
}
.icon-zoom-minus:before {
  content: "\e921";
}
.icon-zoom-plus:before {
  content: "\e922";
}
.icon-arrow:before {
  content: "\e918";
}
.icon-arrow:before {
  content: "\e918";
}
.icon-clock:before {
  content: "\e919";
}
.icon-check:before {
  content: "\e917";
}
.icon-date:before {
  content: "\e910";
}
.icon-distance:before {
  content: "\e911";
}
.icon-empty-star:before {
  content: "\e912";
}
.icon-full-star:before {
  content: "\e913";
}
.icon-half-star:before {
  content: "\e914";
}
.icon-picture:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e90f";
}
.icon-appartment:before {
  content: "\e900";
}
.icon-bus:before {
  content: "\e901";
}
.icon-bus-mini:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e904";
}
.icon-certificate:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-map:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-plane:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\e90e";
}

/* form */
h3.form-group-title {
    font-weight: 600;
    color: #13306b;
    font-size: 20px;
    margin-bottom: 20px;
}
.form-group {
    box-shadow: 0 10px 20px #eaeef6;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
}
input {
    min-height: 40px;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.8em;
    width: 100%;
    padding: 5px 15px;
    border-radius: 0;
}
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    min-height: auto;
}
input:focus, select:focus, textarea:focus {
    border-color: #13306b;
}
input:not(:placeholder-shown) {
    border-color: #091140;
}
select {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0px;
    padding: 5px 15px;
    font-size: 0.8em;
}
span.wpcf7-list-item-label {
    font-size: 0.8em;
}
textarea {
    max-height: 100px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 15px 5px;
    font-size: 0.8em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #222;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
span.form-label-custom {
    font-weight: 600;
    font-size: 0.8em;
    color: #091140;
    display: block;
    padding-left: 15px;
    margin-bottom: 10px;
}
span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 15px;
}
span.wpcf7-form-control {
    display: block;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}
span.wpcf7-form-control-wrap.placanje>span>span {
    display: block;
}
.putnici-group span.form-label-custom {
    padding-left: 0;
}
input[type="submit"] {
    width: auto;
    min-width: 180px;
    border: 0;
    border-radius: 5px;
    background: #13306b;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}
input[type="submit"]:hover {
    background: #D5B45A;
}


.has-bg-image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Promo boxes style */

.ponude-grid {
	display: grid;
	grid-template-rows: 200px 200px 200px;
	grid-gap: 16px;
    margin-bottom: 50px;
}

.ponude-grid.grid-style_1 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "prvi drugi treci treci"
	"prvi cetvrti peti sesti"
    "sedmi osmi peti deveti";
}

.ponude-grid.grid-style_2 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "prvi drugi drugi treci"
	"prvi cetvrti cetvrti treci"
    "peti sesti sedmi osmi";
}

.ponude-grid.grid-style_3 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi drugi treci"
    "prvi prvi cetvrti peti"
    "sesti sedmi osmi osmi";
}

.ponude-grid.grid-style_4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "prvi drugi treci cetvrti"
	"prvi peti treci sesti"
    "sedmi osmi deveti deseti";
}

.ponude-grid.grid-style_5 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "prvi drugi treci cetvrti"
	"peti sesti sedmi osmi"
    "deveti deseti jedanesti dvanesti";
}

.grid-1 {
	grid-area: prvi;
}

.grid-2 {
	grid-area: drugi;
}

.grid-3 {
	grid-area: treci;
}

.grid-4 {
	grid-area: cetvrti;
}

.grid-5 {
	grid-area: peti;
}

.grid-6 {
	grid-area: sesti;
}

.grid-7 {
    grid-area: sedmi;
}

.grid-8 {
    grid-area: osmi;
}

.grid-9 {
    grid-area: deveti;
}

.grid-10 {
    grid-area: deseti;
}

.grid-11 {
    grid-area: jedanesti;
}

.grid-12 {
    grid-area: dvanesti;
}

.stil-style_2-2 .box-promo-opsirnije,
.stil-style_2-4 .box-promo-opsirnije,
.stil-style_1-3 .box-promo-opsirnije,
.stil-style_3-8 .box-promo-opsirnije {
    right: 0;
    width: 40%;
}

.single-ponuda {
	height: 100%;
	position: relative;
}

.box-promo-opsirnije {
    position: absolute;
    bottom: 0;
    background: rgb(255 255 255 / 90%);
    margin: 15px;
    padding: 15px;
    width: calc( 100% - 30px);
    color: #111;
    font-size: 13px;
    line-height: 17px;
}

.box-promo-opsirnije p {
    margin-bottom: 10px;
}

.box-promo-opsirnije p:last-child {
    margin-bottom: 0px;
}

.single-ponuda.label-top span.box-badge {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #11358B;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}

.single-ponuda.label-top span.box-promo-text {
    position: absolute;
    left: 15px;
    top: 50px;
    background: #D5B45A;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}

.single-ponuda.label-bottom span.box-badge {
    position: absolute;
    left: 15px;
    bottom: 50px;
    background: #007bff;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}

.single-ponuda.label-bottom span.box-promo-text {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: #d6b028;
    padding: 2px 10px;
    font-weight: bold;
    color: #fff;
}

.object-fit-center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*image hover*/
.img-zoomin img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.img-zoomin:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/* Navbar style */
header#masthead {
    position: fixed;
    z-index: 998;
    width: 100%;
    background: #091140;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 10px 0 0px;
}

ul.ubermenu-submenu {
    background: rgb(19 48 107 / 95%) !important;
}

ul.ubermenu-submenu ul {
    background-color: transparent !important;
}

.ubermenu-target-with-image.ubermenu-item-layout-image_below {
    height: 120px !important;
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
}

.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_below {
    padding-top: 9px;
    padding-bottom: 5px;
    height: 100px !important;
}

.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_below span.ubermenu-target-title {
    height: calc( 100% - 13px );
    top: 9px;
}

.ubermenu-target-with-image.ubermenu-item-layout-image_below img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100% !important;
	max-width: 100%;
	margin: 0 !important;
    border-radius: 10px !important;
    overflow: hidden;
}

.ubermenu-target-with-image.ubermenu-item-layout-image_below span.ubermenu-target-title {
    position: absolute;
    width: calc( 100% - 40px );
    height: calc( 100% - 30px );
    top: 15px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(19, 48, 107, 0.4);
    z-index: 9;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px !important;
    overflow: hidden;
}

.novi-red {
    clear: both;
}

.ubermenu .ubermenu-colgroup .ubermenu-column, .ubermenu .ubermenu-custom-content-padded, .ubermenu .ubermenu-nonlink, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-submenu-padded, .ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target, .ubermenu .ubermenu-target, .ubermenu .ubermenu-widget, .ubermenu-responsive-toggle {
    padding: 5px 13px !important;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target:after {
    right: 0px !important;
    top: 47% !important;
}

.header-bottom ul li:last-child a {
    padding-right: 0 !important;
}

.header-bottom ul li:first-child a {
    padding-left: 0 !important;
}

.header-bottom nav>ul {
    display: inline-block !important;
    padding-bottom: 5px;
}

.header-bottom nav {
    text-align: right !important;
}

.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target {
    padding: 5px 0 !important;
}

ul.ubermenu-submenu a.ubermenu-target {
    padding-left: 0 !important;
}

ul.ubermenu-submenu a {
    color: #fff;
}

li.ubermenu-item-header>a.ubermenu-target {
    text-transform: uppercase;
    font-size: 1.2em;
}

.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
    padding: 12px 10px !important;
}


/* Poslovnice header */
.header-poslovnice {
    display: flex;
    color: #fff;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    font-size: 14px;
}
.header-poslovnice a {
    color: #fff;
    font-weight: 300;
}
.single-header-poslovnica img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
}
.single-header-poslovnica {
    padding: 0 15px;
}
span.poslovnica-grad {
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.header-bottom {
    padding-left: 16%;
    padding-top: 10px;
}
.site-logo a {
    position: absolute;
}
span.poslovnica-telefoni p {
    margin-bottom: 10px;
}

/* Main content style */

main#content {
    padding-top: 110px;
    margin-bottom: 70px;
}

div#primary {
    padding-top: 30px;
}

/* Filter stylle */

.filter-wrapper {
    margin: 50px 0;
}

.filter-box {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
    padding: 30px;
}

/* Homepage Tabs style */
.card-header h4,
.home-tabs-wrapper h4 {
    font-weight: 600;
    font-size: 22px;
    margin: 6px 0;
    color: #13306B;
}

.home-tabs-wrapper h4 {
    margin: 18px 0px;
}

.homepage-tabs-shadow {
    background: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.homepage-tabs-shadow .tab-content {
    padding: 0 15px;
}

.nav.nav-pills {
    background: #e1ebff;
    padding: 0 15px;
    overflow-x: auto;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}

.nav.nav-pills li {
	display: table-cell;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.single-destinacija-tab figure {
    height: 150px;
}

figure.ponuda-img-wrapper {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

span.ponuda-badge {
    position: absolute;
    right: -26px;
    top: -13px;
    background: #13306b;
    color: #fff;
    padding: 22px 0 2px;
    font-size: 13px;
    font-weight: bold;
    transform: rotate(45deg);
    text-align: center;
    width: 70px;
}

span.ponuda-promo-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #D5B45A;
    color: #fff;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: 600;
}

.single-destinacija-tab h3 {
    line-height: 120%;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px 0;
    font-weight: 600;
}

.single-destinacija-tab h3 a {
    color: #091140;
}

.tabs-header ul {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tabs-header li a.nav-link {
    padding: 13px 20px;
    border-radius: 0;
    border-top: 5px solid transparent;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.tabs-header li a.nav-link:hover {
    color: #13306B;
    background-color: #ffffff;
    border-top: 5px solid #13306B;
}

.tab-btn-wrapper {
    padding: 0 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Homepage offers */

.card {
    border: none;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
}

.card-header {
    background-color: rgb(225, 235, 255);
    border-bottom: 1px solid rgb(0, 123, 255);
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgb(225, 235, 255);
    border-top: 1px solid rgb(0, 123, 255);
}

.card-footer button {
    width: 100%;
}

.description-promo-offer {
    padding: 10px 20px;
}

.single-promo-offer a {
    text-decoration: none;
    color: #222;
}

.single-promo-offer {
    padding: 5px 20px !important;
}

.single-promo-offer:hover {
    background: #e1ebff;
}

.single-promo-offer .cena.bold-cena,
.single-promo-offer .naziv {
    font-weight: 600;
    color: #13306b;
    font-size: 17px;
}
.single-promo-offer {
    font-size: 13px;
}

.prevoz span {
    font-size: 2em;
    color: #13306b;
}

.cena.stara-cena {
    text-decoration: line-through;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

/*Novosti home*/
.novosti-home {
    border: 2px solid #D5B45A;
    padding: 20px;
    margin: 40px 0;
    position: relative;
    overflow: visible;
}
.single-blog h4 {
    font-size: 18px;
    font-weight: 600;
}
.novosti-content {
    font-size: 15px;
    line-height: 23px;
    color: #707070;
}
.novosti-home-title {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    background: #D5B45A;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.novosti-home-title {
    position: absolute;
    left: -17px;
    top: 50%;
    background: #d6b028;
    padding: 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-50%, -50%);
    z-index: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.novosti-home-title a {
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
}
.single-blog img {
    border-radius: 6px;
}

/*O nama home*/
.o-nama-home {
    background: #F5F9FC;
    padding: 50px 0;
}
.single-o-nama-box {
    background: #fff;
    text-align: center;
    padding: 20px 40px 20px;
    font-size: 14px;
    color: #13306B;
    height: 100%;
    box-shadow: 0 10px 20px rgb(9 17 64 / 5%);
}
.single-o-nama-box h4 {
    font-size: 21px;
    font-weight: 600;
}
h3.home-section-title {
    margin-bottom: 50px;
    font-weight: 600;
    color: #091140;
}
.onama-icon {
    font-size: 5em;
}



/* Promo boxes style */

.popularne-destinacije-home {
    margin: 50px 0;
}

.destinacije-grid {
    display: grid;
    grid-template-rows: 250px 250px;
    grid-gap: 16px;
    margin-bottom: 50px;
}

.destinacije-grid.grid-style_1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi prvi drugi"
    "treci cetvrti peti";
}

.destinacije-grid.grid-style_2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi drugi treci"
    "prvi cetvrti peti";
}

.destinacije-grid.grid-style_3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi drugi treci"
    "cetvrti drugi peti";
}

.destinacije-grid.grid-style_4 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi drugi treci"
    "cetvrti peti treci";
}

.destinacije-grid.grid-style_5 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prvi drugi treci"
    "cetvrti peti sesti";
}

.destinacije-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgb(22,23,67);
    background: linear-gradient(180deg, rgba(22,23,67,0) 0%, rgba(16,20,66,0.2665441176470589) 60%, rgba(9,17,64,0.6615021008403361) 100%);
    padding: 20px 30px;
}

.destinacije-mask h3 {
    font-weight: 600;
    color: #fff;
    font-size: 30px;
}

/*Newsletter home */
.newsletter-section {
    background: #D5B45A;
    padding: 40px 0;
    color: #fff;
}

.newsletter-form-wrapper {
    position: relative;
}

.newsletter-form-wrapper input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #AE8E36;
    padding: 5px 20px;
}

.newsletter-form-wrapper button {
    position: absolute;
    right: 5px;
    height: 40px;
    top: 5px;
    background: #13306B;
    color: #fff;
    padding: 5px 20px;
    font-weight: 600;
    font-size: 15px;
}

.newsletter-section h3 {
    font-weight: 600;
}

.newsletter-section p {
    margin-bottom: 0;
}

/*footer*/
footer#colophon {
    background: #091140;
    padding: 50px 0 10px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

footer#colophon a {
    color: #fff;
}

.footer-widgets h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-widgets li {
    line-height: 170%;
}

footer .site-info {
    border-top: 1px solid rgb(255 255 255 / 15%);
    padding: 20px 0px;
    font-size: 14px;
    margin-top: 10px;
}
.display-inline p {
    display: inline;
}
.footer-logos {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.footer-logos div {
    width: 100%;
}

/*Floating contact*/
.floating-right li:hover,
.contact-close-btn:hover {
    cursor: pointer;
}
.floating-contact, .floating-search {
    position: fixed;
    right: -400px;
    top: 0;
    height: 100vh;
    overflow: auto;
    width: 350px;
    background: #fff;
    z-index: 1000;
    padding: 20px 30px;
    box-shadow: 0 0 30px rgb(0 0 0 / 45%);
    transition: .5s;
}
.floating-contact.open,
 .floating-search.open {
    right: 0px;
}
.floating-right {
    position: fixed;
    top: 25vh;
    right: 0;
    background: #091140;
    padding: 5px 15px;
    font-size: 2em;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
}
.floating-right ul {
    padding: 0;
    margin: 0;
}
.floating-right li {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}
.floating-right li:last-child {
    border-bottom: 0;
}

.float-header {
    position: relative;
}

.contact-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
}
.single-header-poslovnica button {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background: #11358b;
    color: #fff;
    margin-bottom: 15px;
    height: auto;
}
.single-header-poslovnica button:hover {
    background: #091140;
    color: #fff;
    text-decoration: none;
}

span.poslovnica-rvreme {
    display: block;
}

span.rvreme-label {
    display: inline-block;
    width: 90px;
}

.float-body {
    font-size: 12px;
}

.float-body h5 {
    font-weight: 600;
    font-size: 12px;
    margin: 15px 0 5px;
}

.float-body .single-header-poslovnica {
    padding: 0;
    padding-bottom: 10px;
}

.float-body .single-header-poslovnica:last-child {
    border-bottom: 0;
}

.float-header h4 {
    font-weight: 600;
    color: #091140;
    border-bottom: 1px solid #091140;
    padding-bottom: 7px;
    margin-bottom: 18px;
}

.single-header-poslovnica .collapse {
    margin-bottom: 10px;
}

.search-filter-group {
    margin: 5px 0 15px;
}

.search-filter-group button {
    min-width: 160px;
    height: 45px;
    text-align: left;
    position: relative;
    font-size: 14px;
}
.float-search-form {
    font-size: 15px;
}
.search-filter-group button span {
	position: absolute;
	right: 15px;
	top: 5px;
}
.search-filter-group button span {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.8em;
}

/*Buttons*/
.btn {
    height: 50px;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #13306B;
    border-color: #13306B;
}
.btn-primary:hover {
    background-color: #091140;
    border-color: #091140;
}

/*Floating social*/
.floating-social {
    position: fixed;
    z-index: 998;
    top: 25vh;
    left: 15px;
    width: 50px;
    background: #fff;
    text-align: center;
    padding: 10px 5px;
    font-size: 1.8em;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
}
.floating-social ul {
    margin-bottom: 0;
}



/*Header image*/
div#header-image {
    position: relative;
    height: 460px;
    overflow: hidden;
}

div#no-header-image {
    background: #13306b;
    padding: 50px 0 40px;
    color: #fff;
}

div#header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div#header-image .header-img-mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgb(22,23,67);
    background: linear-gradient(180deg, rgba(22,23,67,0) 0%, rgba(16,20,66,0.2665441176470589) 60%, rgba(9,17,64,0.6615021008403361) 100%);
    color: #fff;
    padding: 50px 0 25px;
}

div#header-image .header-img-mask h1 {
    font-weight: 600;
    font-size: 50px;
}

div#no-header-image .header-img-mask h1 {
    font-weight: 600;
    font-size: 40px;
}

.zaposlenje-title h3 {
    font-weight: bold;
    margin-bottom: 40px;
    color: #091140;
}

/*Drzava*/
.drzava-short-conent {
    font-size: 16px;
    line-height: 25px;
    color: #656565;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.site-content.destinacija-opis {
    margin: 50px 0;
}

.single-destinacija-drzave figure {
    height: 150px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 5px;
}

.single-destinacija-drzave h3 {
    font-size: 19px;
    margin-bottom: 20px;
}
.single-destinacija-drzave .btn {
    height: auto;
}
.gallery-hidden {
    display: none;
}
.light-overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 80px 0 0px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8435749299719888) 22%, rgba(255,255,255,1) 100%);
}
.header-links>div {
    border: 1px solid rgb(255 255 255 / 39%);
    border-radius: 6px;
    transition: .5s;
    overflow: hidden;
}
.header-links>div:hover a,
.header-links-padding:hover {
    background: #fff;
    color: #091140;
}
.header-links a,
.header-links-padding {
    padding: 5px;
    color: #fff;
    line-height: 200%;
    display: flex;
    align-items: center;
}
.header-links-padding:hover {
    cursor: pointer;
}
.header-links span.icon-large {
    font-size: 2em;
    display: inline-block;
    width: 50px;
}
.header-img-mask a {
    color: #fff;
}
.header-img-mask a:hover {
    text-decoration: none;
}
.header-links>div {
    margin-bottom: 10px;
}
.header-links>div:last-child {
    margin-bottom: 0px;
}
p#breadcrumbs a {
    color: #091140;
}
div#header-image p#breadcrumbs a {
    color: #fff;
}
p#breadcrumbs {
    margin-bottom: 0;
    font-size: 15px;
}
span.br-destinacija {
    font-size: 1.4em;
    font-weight: 600;
}
.single-destinacija-drzave {
    padding: 15px;
    box-shadow: 0 10px 20px rgb(177 203 255 / 18%);
    border-radius: 8px;
    font-size: 14px;
}
.single-destinacija-drzave figure {
    border-radius: 6px;
}
.smestaj-cena {
    font-size: 12px;
    margin-bottom: 5px;
}
span.cena {
    font-weight: 600;
    font-size: 16px;
    color: #13306b;
}
.single-app-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.single-app-info span.icon-app {
    width: 40px;
    display: inline-block;
    font-size: 1.8em;
    color: #13306b;
}
.single-destinacija-drzave h3 {
    font-weight: 600;
    font-size: 16px;
    color: #13306b;
    margin: 5px 0 10px;
}
.single-destinacija-drzave figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
span.tip-smestaja span {
    color: #d5b45a;
}
.posebno {
    margin-bottom: 20px;
}

/*Drzava mapa*/
.mapa-lokacija {
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 20px rgb(177 203 255 / 18%);
    text-align: center;
}
.mapa-lokacija img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.mapa-lokacija .map-label {
    font-weight: 600;
    padding: 12px 20px;
}

/* Drzava filteri*/
.drzava-filteri {
    background: #e1ebff;
    border-radius: 6px;
    padding: 15px 20px;
}
.single-filter-wrapper h6 {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 19px;
    color: #091140;
}
.single-filter-wrapper.filter-destinacija {
    max-height: 300px;
    overflow: auto;
}
span.filter-icon {
    font-size: 1.6em;
    color: #13306b;
    display: inline-block;
    width: 40px;
}
.single-filter-wrapper {
    margin-bottom: 30px;
}
.filter-btn-wrapper .btn {
    width: 100%;
}
/* Customize the label (the container) */
.filter-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.filter-label:hover input ~ .checkmark {
  background-color: #13306B;
}

/* When the checkbox is checked, add a blue background */
.filter-label input:checked ~ .checkmark {
  background-color: #13306B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Lightbox*/
#swipebox-overlay {
    background: rgb(13 13 13 / 85%);
}


/*O nama page*/
.alt-text-onama {
    background: #eef0ff;
    padding: 30px 30px 10px 30px;
}
.entry-content ul {
    padding-left: 22px;
}
.entry-content ul li {
    margin-bottom: 5px;
    position: relative;
}
.entry-content ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #091140;
    position: absolute;
    left: -20px;
    top: 8px;
    border-radius: 50%;
}
.entry-content h4 {
    margin-bottom: 20px;
}
.onama-poslovnice {
    margin-top: 40px;
    background: #13306B;
    padding: 40px 0;
    color: #fff;
}
.onama-poslovnice h3 {
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.onama-poslovnice h4 span {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(255 255 255 / 6%);
    padding-bottom: 5px;
}

.onama-poslovnice a {
    color: #fff;
}

.page .entry-content {
    margin-top: 15px;
}
.onama-slider .owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.onama-slider .owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}


/*Zaposlenje page*/
.single-posao {
    text-align: left;
    transition: .5s;
    padding: 30px 20px;
}
.single-posao:hover {
    box-shadow: 0 10px 20px rgb(9 17 64 / 10%);
}

.entry-content h5 {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
}
.page-template-template-poslovnice .single-o-nama-box h4 span {
    font-size: 21px;
}
.single-autobus {
    padding: 20px 30px;
}
.single-autobus .zaposlenje-content {
    color: #707070;
}

.reklamacije-sekcija button.btn.btn-primary {
    width: 100%;
    text-align: left;
}

.reklamacije-sekcija {
    padding: 30px 0 0;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.entry-content blockquote {
    background: #eef0ff;
    padding: 20px;
}


/*bus gallery*/
ul.gallery {
    list-style-type: none;
    padding-left: 0;
}
ul.gallery li {
    float: left;
    width: 25%;
    padding: 5px;
    margin-bottom: 5px;
}
ul.gallery li:before {
    display: none;
}

/*Kontakt*/
.kontakt-img ul.gallery li {
    width: 50%;
}
.kontakt-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}


/*objekti*/
body.page-template-template-vile main#content {
    background: url(img/et-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.page-title h1 {
    font-size: 48px;
    font-weight: bold;
    color: #091140;
}
.page-title {
    padding: 20px 0 0;
}
.hotel-kategorija span.label {
    margin-right: 10px;
    display: inline-block;
}
span.star-icons-wrapper span {
    color: #D5B45A;
    margin: 0 1px;
}
.hotel-kategorija {
    font-size: 15px;
    color: #232323;
    display: inline-block;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 13%);
    border-radius: 6px;
    margin: 20px 0;
}
div.prva img {
    width: 100%;
    height: 515px;
    object-fit: cover;
    object-position: center;
    margin: 0 3px;
}
div.ostale img {
    width: 74.2456px;
    height: 74.2456px;
    object-fit: cover;
    object-position: center;
    margin: 3px;
}
div.druga-treca {
    width: 100%;
}
div.druga-treca img {
    height: 256px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.galerija-pozicije-2-3 .druga-treca:first-child {
    margin-bottom: 3px;
}
.objekat-galerija.row {
    margin: 0;
}
.objekat-galerija.row .col-8, .objekat-galerija.row .col-4, .objekat-galerija.row .col-12 {
    padding: 0 3px;
}
.nav-tabs {
    border-bottom: 1px solid #E1E1E1;
}
.smestaj-tabovi {
    padding: 40px 0;
}
.smestaj-tabovi .nav-tabs .nav-link {
    font-size: 21px;
    color: #091140;
    font-weight: 400;
    padding: 10px 40px;
    position: relative;
}
.smestaj-tabovi .nav-tabs .nav-item.show .nav-link, .smestaj-tabovi .nav-tabs .nav-link.active {
    border-color: transparent;
}
.smestaj-tabovi .nav-tabs .nav-link.active:before,
.smestaj-tabovi .nav-tabs .nav-link:focus:before,
.smestaj-tabovi .nav-tabs .nav-link:hover:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: #091140;
    left: 0;
}
.smestaj-tabovi .nav-tabs .nav-link:focus, .smestaj-tabovi .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.smestaj-tabovi .nav-tabs .nav-link.active {
    font-weight: 600;
}
.smestaj-tabovi ul {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    overflow: auto;
    overflow-y: hidden;
}
.smestaj-tabovi li {
    display: table-cell;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}
.smestaj-ponuda h4 {
    font-size: 27px;
    font-weight: bold;
    color: #091140;
    margin: 0px 0 10px;
}
.smestaj-sadrzaj {
    margin-top: 40px;
    color: #091140;
}
.smestaj-ponuda h3 {
    font-size: 30px;
    font-weight: bold;
    color: #091140;
    line-height: 46px;
}
.lokacija-box {
    background: #F9FAFC;
    padding-bottom: 30px;
}
.lokacija-box .mapa-lokacija {
    margin-top: 25px;
}
.lokacija-box .mapa-lokacija img {
    height: 120px;
}
.smestaj-sadrzaj ul {
    columns: 3;
    margin: 20px 0;
}
.smestaj-sadrzaj ul li {
    padding-left: 30px;
    margin-bottom: 9px;
    position: relative;
}
.smestaj-sadrzaj ul li:before {
    content: "\e917";
    font-family: "euroturs";
    position: absolute;
    left: 0px;
    top: 6px;
    font-size: 10px;
    font-weight: bold;
}
.soba-slike img {
    height: 190px;
    object-fit: cover;
    object-position: center;
}
.soba-card {
    box-shadow: 0 10px 20px rgb(177 203 255 / 0.18);
    padding: 20px;
    margin-bottom: 30px;
}

.sadrzaj {
    margin: 20px 0 0;
}

.sadrzaj span, .room-capacity-value {
    background: #EEF3FF;
    display: inline-block;
    padding: 3px 8px;
    color: #091140;
    border-radius: 6px;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 7px;
}

.btn-secondary {
    background: #D5B45A;
    border-color: #D5B45A;
}

.btn-secondary:hover {
    background: #13306B;
    border-color: #13306B;
}

.soba-content h4 {
    font-size: 24px;
    margin-top: 20px;
}

.soba-cena {
    text-align: right;
    padding: 20px 0 0;
}

.soba-cena .cena {
    font-size: 30px;
    font-weight: bold;
    color: #091140;
}

.soba-cena .tip-cene {
    margin-bottom: 20px;
}

div#smestaj-sobe {
    margin-top: 60px;
}

.sobe-wrapper {
    margin-top: 40px;
}
table {
    width: 100%;
    font-size: 13px;

}
.d-blue-cell td, .d-blue-cell th {
    background: #091140;
    color: #fff;
}
.bold-cell {
    font-weight: bold;
}
th {
    padding: 2px;
}
tr.gold-cell td, tr.gold-cell th {
    background: #D5B45A;
    color: #fff;
    text-align: center;
}
td, th {
    border: 1px solid #fff;
    padding: 5px;
    background: #F2F2F2;
}
.l-blue-cell td, .l-blue-cell th {
    background: #EEF3FF;
}
table tr:hover td {
    background: #13306b;
    color: #fff;
}

/*avio karte*/
.single-aviokarta {
    box-shadow: 0 10px 20px rgb(177 203 255 / 0.18);
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
    color: #232323;
    transition: .5s;
}
.single-aviokarta:hover {
    background: #fafcff;
    box-shadow: 0 10px 20px rgb(177 203 255 / 0.36);
}
.single-aviokarta img {
    width: auto;
    height: auto;
}
.polazak-icon {
    font-size: 0.4em;
    color: #13306b;
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.polazak-od-do {
    font-size: 20px;
    font-weight: 600;
    color: #13306b;
}
.polazak-datum {
    display: inline-flex;
}
.polazak-datum span {
    color: #d5b45a;
    font-size: 1.4em;
    margin-right: 5px;
}
.avio-label {
    font-weight: 600;
    color: #13306b;
    font-size: 14px;
    margin-bottom: 5px;
}
.satnica {
    display: inline-flex;
}
.gold-label {
    font-weight: 600;
    color: #d5b45a;
    margin-right: 10px;
}
span.dan-label {
    display: inline-block;
    width: 35px;
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -1px;
}
.polazak-dolazak {
    font-weight: 600;
    color: #13306b;
}
.polazak-wrapper {
    margin-bottom: 5px;
}
.avio-logo {
    padding: 8px;
}
.avio-note {
    background: #fff9e7;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    color: #13306b;
}
.lg-backdrop {
    background-color: rgb(1 5 29 / 0.85) !important;
}
.lg-outer .lg-thumb-outer,
.lg-outer .lg-toogle-thumb {
    background-color: #091140 !important;
}
.lg-thumb.lg-group {
    width: 100% !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #D5B45A !important;
}
.lg-outer .lg-thumb-item {
    border: 2px solid #4e60cb !important;
}
.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: #091140 !important;
    color: #fff !important;
}
.lg-toolbar {
    background-color: #091140 !important;
}
.lg-progress-bar .lg-progress {
    background-color: #d5b45a !important;
}

.lg-actions .lg-next:before {
    content: "\e91c" !important;
    font-family: 'euroturs';
}
.lg-actions .lg-prev:after {
    content: "\e91b" !important;
    font-family: 'euroturs';
}
.lg-outer .lg-toogle-thumb:after {
    content: "\e91a" !important;
    font-family: 'euroturs';
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.lg-toolbar .lg-close:after {
    content: "\e91d" !important;
    font-family: 'euroturs';
}
.lg-autoplay-button:after {
    content: "\e920" !important;
    font-family: 'euroturs';
}
.lg-show-autoplay .lg-autoplay-button:after {
    content: "\e91f" !important;
    font-family: 'euroturs';
}
#lg-zoom-in:after {
    content: "\e922" !important;
    font-family: 'euroturs';
}
#lg-zoom-out:after {
    content: "\e921" !important;
    font-family: 'euroturs';
}
#lg-actual-size:after {
    content: "\e91e" !important;
    font-family: 'euroturs';
}
a#lg-download, button.lg-fullscreen.lg-icon, button#lg-share, button.lg-flip-ver.lg-icon, button.lg-flip-hor.lg-icon, button.lg-rotate-left.lg-icon, button.lg-rotate-right.lg-icon {
    display: none !important;
}
.lg-toolbar .lg-icon {
    color: #fff !important;
    font-size: 19px !important;
}
div#no-header-image a {
    color: #fff;
}

/*nagrade i pohvale*/
.nagrade-ram {
    display: block;
    border: 7px solid #000;
    padding: 15px;
    margin-bottom: 20px;
}
.okvir-gold {
    border-color: #d5b45a;
}
.okvir-silver {
    border-color: #cdcdcd;
}
.okvir-bronse {
    border-color: #cd7f32;
}

/*katalozi*/
div#flowpaper-logo-bottom {
    opacity: 0 !important;
}
.katalog-wrapper p {
    margin-bottom: 0;
}
.katalog-icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #d5b45a;
}
.single-katalog-list {
    margin-bottom: 20px;
}
.single-katalog-list h3 {
    font-weight: 600;
    font-size: 24px;
}
.katalog-wrapper h3 a {
    color: #13306b;
}
.katalog-wrapper:hover h3 a {
    color: #d5b45a;
}
.katalog-actions a {
    color: #d5b45a;
    display: flex;
    align-items: center;
}
.katalog-actions a span {
    font-size: 1.3em;
    color: #d5b45a;
    width: 40px;
    text-align: center;
}
.katalog-actions a:hover {
    color: #13306b;
}
.novosti-side-title {
    font-size: 22px;
    font-weight: 600;
    color: #13306b;
    margin-bottom: 20px;
}
#secondary .novosti-home {
    padding: 15px;
    margin: 30px 0;
}
div#secondary .single-blog h4 {
    font-size: 16px;
}
div#secondary .single-blog {
    margin-bottom: 15px;
}
.euroturs-kontakt-form select,
.euroturs-kontakt-form input,
.euroturs-kontakt-form textarea {
    width: 100% !important;
}
.euroturs-kontakt-form {
    margin: 40px 0 10px;
}
.euroturs-kontakt-form select, .euroturs-kontakt-form input, .euroturs-kontakt-form textarea {
    width: 100% !important;
    min-height: 50px;
    border: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 15px 40px hsl(0 0% 0% / 0.06);
    font-size: 15px;
    padding: 10px 15px;
}
.euroturs-kontakt-form input[type="submit"] {
    width: auto !important;
    padding: 10px 40px;
    background: #13306b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: .5s;
}
.euroturs-kontakt-form input[type="submit"]:hover {
    background: #d5b45a;
}
.wpcf7-not-valid-tip {
    color: #e30b0b;
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    position: relative;
    top: -17px;
    left: 15px;
    font-weight: 600;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #d5b45a;
    background: #f9f0da;
    margin: 0;
    font-size: 0.8em;
    padding: 15px 30px;
    border-radius: 6px;
    color: #13306b;
}
.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
    border-color: #c10b0b;
    background: #fedada;
    margin: 0;
    font-size: 0.8em;
    padding: 15px 30px;
    border-radius: 6px;
    color: #13306b;
}
.single-vest h3 {
    font-weight: 600;
    color: #13306b;
}
.vest-info {
    display: flex;
    margin: 5px 0 10px;
    font-size: 0.9em;
    color: #adadad;
    align-items: center;
}
.vest-info div {
    margin-right: 10px;
}
.vest-info span {
    color: #d5b45a;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 1px;
}
.vest-info div:first-child span {
    font-size: 1.3em;
    top: 2px;
}
.vest-featured-img img {
    border-radius: 8px;
}
.single-vest {
    margin-bottom: 30px;
}
.bottom-navigation {
    display: none;
}
.bottom-navigation a {
	color: #fff;
}
.mob-menu-header {
    display: none;
}
.btn-for-filter span {
    font-size: 1.7em;
    margin-right: 7px;
}
.btn-for-filter {
    margin-bottom: 15px;
}
.btn-filter {
    box-shadow: 0 4px 18px rgb(19 48 107 / 7%);
    border-radius: 6px !important;
    padding: 9px 13px;
    font-size: 14px;
    background: #fff;
    height: auto;
    display: flex;
    align-items: center;
}
.floating-filteri-ponuda {
    position: fixed;
    width: 100%;
    height: calc( 100vh - 25vh );
    right: 0;
    bottom: -100vh;
    z-index: 1000;
    background: #fff;
    overflow: auto;
    transition: .5s;
    padding: 20px 30px !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.floating-filteri-ponuda.open {
    bottom: 67px;
}
.floating-filteri-ponuda .drzava-filteri {
    padding: 15px 0;
}
.floating-filteri-ponuda .checkmark {
    background-color: #f4f4f4;
}

.overlay-black {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: fixed;
    bottom: 0;
    left: auto;
    right: -100vw;
    background: rgb(0 0 0 / 0.7);
    z-index: 999;
    transition: .3s;
}
.overlay-black.open {
    right: 0;
}

.tab-slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    padding: 0 40px;
    position: relative;
}

.tab-slider-wrapper .single-destinacija-tab {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.destinacije-tab .owl-nav button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 37%;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.destinacije-tab .owl-nav button:hover {
    border: 1px solid #e8e8e8;
}

.destinacije-tab .owl-nav button.owl-prev {
    left: 5px;
}

.destinacije-tab .owl-nav button.owl-next {
    right: 5px;
}

#customDots button {
    background: #f0f0f0;
    width: 30px !important;
    height: 10px !important;
    margin: 0 4px !important;
    border-radius: 5px !important;
    padding: 0;
    border: 0;
}

#customDots button.active {
    background: #11358b !important;
}

.mm-ocd__content {
    font-size: 16px;
}

.single-polozaj {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px dotted #e1e1e1;
}

.extra-capacity-room {
    display: inline-flex;
}

.room-capacity {
    margin-right: 20px;
}

span.room-capacity-label {
    font-weight: 600;
}

.lokacija-adresa span {
    font-weight: bold;
}
.lokacija-adresa {
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
span.comment-bubble {
    display: inline-block;
    padding: 0 5px;
    background: #d5b45a;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    top: -2px;
}
#wpdcom {
    max-width: 100% !important;
}
.wpd-form-head {
    display: none !important;
}
#comments {
    margin: 50px 0 0;
}
div#map {
    width: 100%;
    height: 400px;
}
.modal-header .close {
    text-shadow: none;
    top: 3px;
    position: relative;
}
.modal-content {
    border: 0;
    border-radius: 8px;
}
table th {
    min-width: 54px;
}
.responsive-table {
    overflow: auto;
}
h1.entry-title span.page-description {
    background: #0d2454;
    padding: 0 10px;
}
.ubermenu .ubermenu-item-type-column>.ubermenu-submenu-type-stack {
    padding-top: 0 !important;
}
.ubermenu .ubermenu-autocolumn, .ubermenu .ubermenu-submenu-type-stack {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {
    margin-top: 0 !important;
}
ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu>li {
    margin: 20px 0 20px;
}

/*404*/
body.error404 main#content {
    margin-bottom: -3px;
    padding-top: 15vh;
}
.error-404 h1 {
    font-weight: 600;
    padding-right: 20px;
}

/*download df*/
.pdf-ponuda {
    margin-top: 40px;
    text-align: right;
}
.btn-download span {
    margin-right: 10px;
}

@media only screen and (min-width: 980px) {
    .modal-dialog {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 91%;
    }
    ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu {
       padding: 0px 6% 0px !important;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 85%;
    }
    ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu {
       padding: 0px 8.5% 0px !important;
    }
}


@media only screen and (min-width: 1400px) {
    ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu {
       padding: 0px 9% 0px !important;
    }
}

@media only screen and (min-width: 1650px) {
	.container {
		max-width: 1400px;
	}
    ul.ubermenu-nav>li.ubermenu-item-has-children>ul.ubermenu-submenu {
       padding: 0px 14% 0px !important;
    }
}

@media only screen and (max-width: 1600px) {
    .site-logo img {
        max-width: 340px;
    }
    .header-bottom {
        padding-left: 10%;
        padding-top: 0px;
    }
    .ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
        font-size: 13px !important;
    }
    span.poslovnica-grad {
        font-size: 14px;
    }
    .page-title.pt-5 {
        padding-top: 25px !important;
    }
    .objekat-galerija.mt-5 {
        margin-top: 25px !important;
    }
    div.ostale img {
        width: 60.2456px;
        height: 60.2456px;
        margin: 2px;
    }
    .smestaj-tabovi {
        padding: 30px 0;
    }
    .smestaj-tabovi .nav-tabs .nav-link {
        font-size: 18px;
        padding: 10px 30px;
    }
    .smestaj-ponuda h4 {
        font-size: 23px;
    }
    .alt-text-onama {
        padding: 20px 20px 20px 20px;
    }
    .sadrzaj span, .room-capacity-value {
        padding: 2px 7px;
        border-radius: 6px;
        margin-right: 3px;
        font-size: 12px;
        margin-bottom: 6px;
    }
    main#content {
        padding-top: 100px;
        margin-bottom: 60px;
    }
    .btn {
        height: 45px;
        padding: 6px 20px;
        font-weight: 600;
        font-size: 14px;
    }
    .single-destinacija-drzave.img-zoomin button {
        font-size: 14px;
        padding: 9px 17px;
    }
    .single-destinacija-drzave figure {
        height: 130px;
    }
    .single-destinacija-tab figure {
        height: 120px;
    }
    .card-header h4, .home-tabs-wrapper h4 {
        font-size: 19px;
    }
    .single-promo-offer .cena.bold-cena, .single-promo-offer .naziv {
        font-size: 12px;
    }
    .single-promo-offer {
        font-size: 10px;
    }
    .single-katalog-list h3 {
        font-size: 20px;
    }
    div#secondary .single-blog h4 {
        font-size: 14px;
    }
    .ostali-logoi img {
        max-width: 80px;
    }
    .ostali-logoi img:last-child {
        max-width: 50px;
    }
    .polazak-od-do {
        font-size: 17px;
    }
    .single-aviokarta {
        font-size: 12px;
    }
    .single-aviokarta .col-md-8.mob-hidden {
        padding-left: 0;
    }
    .single-destinacija-drzave {
        padding: 12px;
        font-size: 13px;
    }
    .prevoz span {
        font-size: 1.8em;
    }
    main#content {
        font-size: 14px;
    }
    .novosti-content {
        font-size: 14px;
        line-height: 22px;
    }
    footer#colophon {
        font-size: 14px;
    }
    footer .site-info {
        padding: 18px 0px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1300px) {
    .floating-right {
        padding: 3px 12px;
        font-size: 1.4em;
    }
    .floating-social {
        left: 12px;
        width: 42px;
        padding: 8px 2px;
    }
    .page-title h1 {
        font-size: 38px;
    }
    p#breadcrumbs {
        font-size: 13px;
    }
    div.prva img {
        height: 455px;
    }
    div.druga-treca img {
        height: 226px;
    }
    .single-destinacija-drzave.img-zoomin button {
        font-size: 12px;
        padding: 8px 15px;
    }
    div#no-header-image .header-img-mask h1 {
        font-weight: 600;
        font-size: 36px;
    }
    main#content {
        font-size: 13px;
    }
    .single-destinacija-tab h3 {
        margin-bottom: 15px;
        font-size: 13px;
        padding: 4px 0;
    }
    .novosti-content {
        font-size: 13px;
        line-height: 20px;
    }
    footer#colophon {
        padding: 40px 0 5px;
        font-size: 13px;
    }
    footer .site-info {
        padding: 15px 0px;
        font-size: 12px;
    }
    .single-aviokarta {
        font-size: 11px;
    }
    .polazak-od-do {
        font-size: 15px;
    }
    .footer-widgets h4 {
        font-size: 1.5em;
    }
    .box-promo-opsirnije {
        margin: 10px;
        padding: 10px;
        font-size: 11px;
    }
}


@media only screen and (max-width: 980px) {

    div#map {
        height: 300px;
    }
    .overlay-black {
        bottom: -100vh;
        left: 0;
        right: auto;
        transition: 0s;
    }
    .overlay-black.open {
        right: auto;
        bottom: 0;
    }
    body.page-template-template-ponude div#no-header-image {
        margin-bottom: 20px;
    }
	.mob-menu-header {
		display: block;
		position: fixed;
		right: 15px;
		top: 19px;
		width: 50px;
		height: 50px;
	}
	.mm-ocd__content,
	.mm-ocd--open {
	    height: 100vh;
	}
	.mm-ocd__content {
	    width: 100%;
	}
	.mm-spn.mm-spn--navbar ul {
	    background: #13306B;
	}
	.mm-spn a {
	    color: #fff;
	}
	.mm-spn a:not(:last-child):after {
	    display: none !important;
	}
	.mm-spn li:after {
	    border-top: 1px solid #fff !important;
	}
	.mm-spn li:before {
	    border-top: 2px solid #fff !important;
	    border-right: 2px solid #fff !important;
	    opacity: .8 !important;
	}
	.close-right-top {
	    position: absolute;
	    right: 0;
	    top: 5px;
	}
	.mm-spn.mm-spn--light {
	    color: #fff;
	    background: #13306b;
	}

    /*bottom menu*/
    .bottom-navigation {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background: #13306B;
        color: #fff;
        z-index: 1000;
    }
    .single-menu-item {
	    text-align: center;
	    font-size: 11px;
	    padding: 12px 8px;
	}
	.single-menu-item span {
	    font-size: 2.3em;
	}
	.mm-spn li {
		width: 95%;
	}
	.mm-ocd--left .mm-ocd__backdrop {
	    right: 0;
	    bottom: 0px;
	    top: initial;
	    width: 80px;
	    height: 67px;
	}
	.mm-ocd__content {
	    height: calc( 100vh - 67px );
	}


/*	.mob-menu-header a span {
		height: 3px;
		width: 25px;
	}

	.mob-menu-header a:before, .mob-menu-header a:after {
		height: 3px;
		width: 25px;
	}

	.mob-menu-header a {
		width: 100%;
		height: 100%;
		padding: 9px;
	}*/
	.ponude-grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "prvi cetvrti peti"
		"drugi treci sesti";
        grid-template-rows: 150px 150px 150px 150px;
        grid-gap: 14px;
        margin-bottom: 50px;
    }
    .ponude-grid.grid-style_1 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi drugi cetvrti"
        "prvi treci treci"
        "sesti peti sedmi"
        "osmi peti deveti";
    }
    .ponude-grid.grid-style_2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi drugi drugi"
        "prvi cetvrti cetvrti"
        "peti sesti treci"
        "sedmi osmi treci";
    }
    .ponude-grid.grid-style_3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi prvi drugi"
        "prvi prvi treci"
        "cetvrti peti sesti"
        "sedmi osmi osmi";
    }
    .ponude-grid.grid-style_4 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi prvi treci"
        "drugi cetvrti treci"
        "peti sesti sedmi"
        "osmi deveti deseti";
    }
    .ponude-grid.grid-style_5 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi drugi treci"
        "cetvrti peti sesti"
        "sedmi osmi deveti"
        "deseti jedanesti dvanesti";
    }
    .header-bottom, .header-poslovnice, .floating-social, .floating-right, .box-promo-opsirnije {
        display: none;
    }
    .floating-contact, .floating-search {
	    height: calc( 100vh - 67px );
	    overflow: auto;
	    overflow: auto;
	}
	.header-links a, .header-links-padding {
	    color: #13306b;
	}
	.lg-thumb.lg-group {
	    width: auto !important;
	}
	.header-links-mob .header-links-padding {
	    box-shadow: 0 4px 18px rgb(19 48 107 / 7%);
	    border-radius: 6px !important;
	    padding: 6px 13px;
	    font-size: 14px;
	}
	.header-links-mob .header-links-padding span.icon-large {
	    font-size: 1.5em;
	    margin-right: 8px;
	}
	.mobile-buttons-header {
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	.site-content.destinacija-opis {
	    margin: 0px;
	}
	.drzava-filteri {
	    height: auto;
	    background: transparent;
	}
    .row.destinacije-tab {
        flex-flow: column;
        flex-wrap: wrap;
        height: 450px;
        overflow: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
    }
    .row.destinacije-tab .col-md-3 {
        width: 250px;
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
    }
    ul.list-group.list-group-flush li.list-group-item {
        background: #EEF3FF;
        margin-bottom: 7px;
        border-radius: 6px;
        border: 0;
        overflow: hidden;
    }
    ul.list-group.list-group-flush li.list-group-item.single-promo-offer .col-5,
    ul.list-group.list-group-flush li.list-group-item.single-promo-offer .col-4,
    ul.list-group.list-group-flush li.list-group-item.single-promo-offer .col-3 {
        padding: 5px 15px !important;
    }
    ul.list-group.list-group-flush li.list-group-item.single-promo-offer .col-4,
    ul.list-group.list-group-flush li.list-group-item.single-promo-offer .col-3 {
        background: #E3ECFF;
    }
    li.list-group-item.single-promo-offer .row {
        margin: 0;
    }
    .lm-home .single-promo-offer {
        padding: 0px 0px !important;
    }
    .description-promo-offer {
        padding: 5px 0 15px 0;
    }
    .col-md-8.mob-hidden {
        display: none;
    }
    p#breadcrumbs {
        display: none;
    }
}


@media only screen and (max-width: 640px) {
    .btn {
        height: 45px;
    }
    main#content {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    header#masthead {
        height: 60px;
    }
    .site-logo img {
        max-width: 175px;
    }
    div.prva img {
        height: 186px;
    }
    div.druga-treca img {
        height: 60px;
    }
    div.druga-treca {
        position: relative;
    }
    .gal-number {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: rgb(0 0 0 / 56%);
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .ponude-grid {
        grid-template-rows: 110px 110px 110px 110px 110px 110px;
    }
    .page-title h1 {
        font-size: 24px;
    }
    .galerija-pozicije-ostale {
        display: none !important;
    }
    .galerija-pozicije-2-3 .druga-treca:nth-child(2) {
        margin-bottom: 3px;
    }
    .destinacije-grid.grid-style_1 {
        grid-template-columns: 1fr;
        grid-template-areas: "prvi"
        "drugi"
        "treci"
        "cetvrti"
        "peti";
    }
    .destinacije-grid {
        grid-template-rows: 110px 110px 110px 110px 110px;
        grid-gap: 15px;
        margin-bottom: 0;
    }
    .popularne-destinacije-home {
        margin-bottom: 0;
    }
    .destinacije-grid .ponude-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "prvi cetvrti peti"
        "drugi treci sesti";
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        grid-gap: 14px;
        margin-bottom: 50px;
    }
    .ponude-grid.grid-style_1 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "prvi drugi"
        "prvi treci"
        "cetvrti cetvrti"
        "peti sesti"
        "sedmi osmi"
        "sedmi deveti";
    }
    .ponude-grid.grid-style_2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "drugi drugi"
        "prvi treci"
        "prvi treci"
        "cetvrti cetvrti"
        "peti sesti"
        "sedmi osmi";
    }
    .ponude-grid.grid-style_3 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "prvi prvi"
        "prvi prvi"
        "drugi treci"
        "cetvrti peti"
        "sesti sedmi"
        "osmi osmi";
    }
    .ponude-grid.grid-style_4 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "prvi drugi"
        "prvi cetvrti"
        "peti treci"
        "sesti treci"
        "sedmi osmi"
        "deveti deseti";
    }
    .ponude-grid.grid-style_5 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "prvi drugi"
        "treci cetvrti"
        "peti sesti"
        "sedmi osmi"
        "deveti deseti"
        "jedanesti dvanesti";
    }
    .single-ponuda.label-top span.box-promo-text {
        left: 10px;
        top: 38px;
        padding: 2px 8px;
        font-size: 11px;
    }
    .single-ponuda.label-top span.box-badge {
        left: 10px;
        top: 10px;
        padding: 2px 8px;
        font-size: 13px;
    }
    .single-destinacija-drzave h3 {
        font-size: 12px;
        margin: 4px 0 7px;
    }
    .row {
        margin-right: -8px;
        margin-left: -8px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 8px;
        padding-left: 8px;
    }
    .single-destinacija-drzave figure {
        height: 110px;
    }
    .single-destinacija-drzave {
        padding: 10px;
        font-size: 10px;
    }
    .smestaj-cena {
        font-size: 8px;
    }
    span.cena {
        font-size: 12px;
    }
    .btn {
        padding: 8px 18px;
        font-size: 12px;
    }
    .single-app-info span.icon-app {
        width: 25px;
    }
    .newsletter-form-wrapper button {
        position: static;
        height: 45px;
        width: 100%;
    }
    .newsletter-form-wrapper input {
        height: 45px;
        border-radius: 6px;
        text-align: center;
    }
    .newsletter-section h3 {
        font-size: 21px;
    }
    .newsletter-section {
        text-align: center;
    }
    .newsletter-section p {
        margin-bottom: 20px;
        font-size: 13px;
    }
    .drzava-short-conent {
        font-size: 12px;
        line-height: 18px;
    }
    div#header-image .header-img-mask h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p#breadcrumbs {
        font-size: 12px;
    }
    .destinacije-mask span {
        display: none;
    }
    .destinacije-mask {
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .destinacije-mask h3 {
        font-size: 24px;
        margin-bottom: 0;
    }
    h3.home-section-title {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .novosti-home-title {
        position: static;
        background: transparent;
        color: #212529;
        transform: none;
        text-transform: initial;
        font-size: 21px;
        margin-bottom: 10px;
    }
    .novosti-home-title a {
        padding: 10px 0;
        display: inline-block;
        color: #212529;
    }
    main#main {
        overflow: hidden;
    }
    .novosti-home {
        border: 0;
        padding: 30px 15px 15px;
        margin: 30px -15px 0;
        position: relative;
        overflow: visible;
        background: #F9FAFC;
    }
    .single-blog img {
        border-radius: 6px;
        width: 100%;
        height: 110px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
    }
    .novosti-content {
        font-size: 12px;
        line-height: 19px;
    }
    .single-blog h4 {
        font-size: 15px;
    }
    .single-blog {
        margin-bottom: 20px;
    }
    .o-nama-home {
        background: #fff;
        padding: 40px 0;
    }
    .lm-home {
        margin-bottom: 40px;
    }
    .lm-home .card-header {
        background-color: transparent;
        border-bottom: 0;
        padding: 0;
    }
    .lm-home .card {
        border: none;
        box-shadow: none;
        background: transparent;
    }
    .description-promo-offer {
        padding: 15px 0;
        font-size: 12px;
        line-height: 18px;
    }
    .card-header h4, .home-tabs-wrapper h4 {
        font-weight: 600;
        font-size: 20px;
        margin: 6px 0 15px;
        color: #13306B;
    }
    .cena.bold-cena, .cena.stara-cena, .prevoz, .nocenja {
        text-align: right;
    }
    .tabs-header li a.nav-link {
	    padding: 10px 20px;
	    font-size: 14px;
	    border: 1px solid #E1E1E1;
	    border-radius: 6px;
	    margin-right: 15px;
	}
	.nav.nav-pills {
	    background: transparent;
	    padding: 10px 15px 25px;
	    margin-bottom: 0 !important;
	}
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .tabs-header li a.nav-link:hover {
	    color: #ffffff;
	    border-top: 1px solid #13306B;
	    background: #13306B;
	    border: 1px solid #13306B;
	    box-shadow: 0 7px 20px rgb(19 48 107 / 30%);
	}
	.home-tabs-wrapper {
	    margin: 0 -15px;
	}
	.homepage-tabs-shadow {
	    background: transparent;
	    box-shadow: none;
	    border-radius: 0;
	}
	.home-tabs-wrapper h4 {
	    padding: 0 15px;
	}
	.tabs-header ul {
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}
	.footer-logos {
	    display: flex;
	    flex-direction: row;
	}
	.footer-logos .yuta {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 28%;
	    flex: 0 0 28%;
	    max-width: 28%;
	    justify-content: center;
	}
	.footer-logos .yuta img {
	    max-width: 55px;
	}
	.footer-logos img {
	    max-width: 70px;
	}
	.ostali-logoi img:last-child {
	    max-width: 50px;
	}
	.footer-logos {
	    margin: 30px 0 15px;
	}
	footer .site-info {
	    flex-direction: column-reverse;
	    text-align: left;
	    padding-bottom: 80px;
	}
	footer .site-info .text-right {
	    text-align: left !important;
	}
	.footer-widgets {
	    font-size: 14px;
	}
	.footer-widgets h4 {
	    margin-bottom: 15px;
	    margin-top: 10px;
	    font-size: 21px;
	    text-transform: uppercase;
	}
	.row.site-info {
	    opacity: .7;
	}
	div#no-header-image .header-img-mask h1 {
	    font-size: 24px;
	}
	.h2, h2 {
	    font-size: 1.4rem;
	}
	.smestaj-sadrzaj ul {
	    columns: 2;
	    font-size: 12px;
	}
	.smestaj-ponuda h4,
	.smestaj-ponuda h3 {
	    font-size: 21px;
	    font-weight: 600;
	}
	.soba-cena .cena {
	    font-size: 15px;
	}
	.soba-cena .tip-cene {
	    font-size: 12px;
	}
	.soba-cena {
	    display: flex;
	    justify-content: space-between;
	}
	.soba-content {
	    font-size: 12px;
	}
	.sadrzaj span, .room-capacity-value {
	    border-radius: 4px;
	    font-size: 11px;
	    margin-bottom: 5px;
	}
	.soba-content h4 {
	    font-size: 15px;
	}
	html, body {
	    font-size: 12px;
	}
	.single-o-nama-box {
	    padding: 10px 20px 10px;
	}
	.alt-text-onama {
	    background: #eef0ff;
	    padding: 15px 15px 5px 15px;
	}
	.sobe-wrapper {
	    margin-top: 20px;
	}
	.smestaj-tabovi .nav-tabs .nav-link {
	    font-size: 15px;
	    padding: 10px 23px;
	}
    .row.destinacije-tab .col-md-3 {
        width: 210px;
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
    }
    span.ponuda-badge {
        font-size: 11px;
        font-weight: 600;
    }
    div#secondary .container {
        padding: 0;
    }
    #secondary .novosti-home {
        padding: 15px 0;
        margin: 20px 0 0;
        background: transparent;
    }
    .single-o-nama-box.single-posao h4 {
        font-size: 17px;
    }
    .zaposlenje-title h3 {
        margin-bottom: 20px;
    }
    .nagrade-ram {
        border-width: 4px;
        padding: 10px;
        margin-bottom: 15px;
    }
    body.page-template-template-poslovnice .single-o-nama-box {
        padding: 15px 0px 15px;
    }
    input,
    select,
    span.form-label-custom,
    span.wpcf7-list-item-label {
        font-size: 1em;
    }
    select {
        margin-bottom: 15px;
    }
    h3.form-group-title {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .extra-capacity-room {
        display: block;
        margin-bottom: 10px;
    }
    .smestaj-tabovi {
        padding: 20px 0;
    }
    .lokacija-box {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .kontakt-img img {
        height: 120px;
    }
    ul.gallery li {
        width: 33.33%;
    }
    .floating-contact, .floating-search {
	    width: 100%;
	    right: -500px;
	}
	div#header-image {
	    height: 270px;
	}
    .row.destinacije-tab .col-md-3 {
        width: 160px;
    }
    .single-destinacija-tab figure {
        height: 105px;
    }
    .single-destinacija-tab h3 {
        font-size: 12px;
    }
    .row.destinacije-tab {
        height: 370px;
    }
    .single-destinacija-tab.img-zoomin {
        height: 149px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .polazak-od-do {
        font-size: 14px;
    }
    .polazak-icon {
        font-size: 0.3em;
    }
    .single-aviokarta {
        font-size: 12px;
    }
    .single-katalog-list .justify-content-end {
        justify-content: flex-start !important;
        margin-top: 15px;
    }
    .katalog-actions a span {
        width: auto;
        margin-right: 15px;
    }
    .single-katalog-list h3 {
        font-size: 17px;
    }
    .mapa-lokacija {
        margin-bottom: 30px;
    }
}